body {
  background-color: beige !important;
  h1 {
        text-transform: uppercase;
        margin-bottom:5%;

        margin-top:5%;
  }
  #user_accepts_email{
        height:20px;
        width:20px;

  }
  #error_explanation{
  color:red;
  font-size:13px !important;
  }
  label{margin-right:15px;}
  .showuser{

  margin: 10% auto;

  }
}
